.slider-home{
    position:relative;
    height:210px;
    overflow:hidden;
}

.slider-home img{
    position:absolute;
    transition: .5s all ease-in;
}

.slider-info{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    text-align: center;
    transition: .5s all ease-in;
}

.slider-info a{
    display: inline-block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    border: 2px solid #2e3689;
    text-align: center;
    color: #2e3689;
    font-weight: bold;
    text-decoration: none;
    transition: .2s all ease-out;
}

.slider-info a:hover{
    display: inline-block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    background-color: #2e3689;
    border: 2px solid white;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.info-text{
    color: #fefefe;
    height: 110px;
    width: 180px;
    margin-bottom: 10px;
    background-color:#2e3689 ;
    position: relative;
}

.info-text p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 140%;
    font-size: 22px;
}

.slider-controls{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.home-slider-item{
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid #333;
    margin: 0 5px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}

.img-beaumont-home{
    width:50%;
    height:550px;
    float:left;
    background-color:#2e3689;
    overflow:hidden;
}

.img-beaumont-home img{
    width:100%;
}

.presentation-beaumont{
    width:50%;
    height:550px;
    float:left;
    position:relative;
}

.presentation-beaumont h1{
    color:#2e3689;
    font-size:28px;
    font-weight:bold;
    margin:65px 0px 0px 30px;
}

.decouvrir-beaumont{
    position:absolute;
    top:71%;
    left:17%;
    padding:15px 20px;
    background-color:#2e3689;
    color:white;
    transition: all 0.5s ease 0s;
}

.decouvrir-beaumont a{
    text-decoration:none;
    text-transform:uppercase;
    font-size:15px;
    font-weight:bold;
    flex:1 1 auto;
}

.decouvrir-beaumont:hover{
    border:1px #2e3689 solid;
    background-color:#fefefe;
    color:#2e3689;
}

.presentation-beaumont div{
    background-color:#f5f5f5;
    position:absolute;
    width:120%;
    height:280px;
    right:0%;
    top:25%;
    padding:35px 60px;
}

.presentation-beaumont div p{
    font-size:16px;
    text-align:center;
    color:#2e3689;
    line-height:130%;
}

.presentation-bold{
    font-size:18px;
}
