
<div class="footer">
    <div class="container">
        <div class="item-footer">
            <p><a>Contact</a></p><br>
            <p><a>Lorem</a><a>Lorem</a>
            </p>
        </div>
        
        <div class="item-footer">
            <p><a>Contact</a></p><br>
            <p><a>Lorem</a><a>Lorem</a>
            </p>
        </div>
        
        <div class="item-footer">
            <p><a>Contact</a></p><br>
            <p><a>Lorem</a><a>Lorem</a>
            </p>
        </div>
        
        <div class="item-footer">
            <p><a>Contact</a></p><br>
            <p><a>Lorem</a><a>Lorem</a>
            </p>
        </div>
    </div>
</div>


<script src="{{global.request.basepath}}/assets/js/main.js"></script>
</body>
</html>