<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <title>Usine Beaumont - Migennes</title>
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/header.css">
        <link rel="stylesheet" href="assets/css/docs.css">
    </head>

    <body>

        <div class="container">
            <nav>
                <a>Accueil</a>
                <a>Produits</a>
                <a>Plan d'accès</a>
                <a>Documents utiles</a>
                <a>Contact</a>
            </nav>
        </div>