{{ include('partials/header.twig') }}

<div class="container">

<div class="title-home">
<h1>Société Beaumont</h1>
</div>

<div class="slider-home">
</div>

</div>
<img src="{{ global.request.basepath }}/assets/img/bannière-écrou.png">

{{ include('partials/footer.twig') }}
